@keyframes congratulation{
    0%{
        background-image: url("../image/gameclear/congratulation.gif");
    }
 }

 @keyframes changeBg{
    0% {
        background-color: #ffffff;
    }
    100%{
        background-color: red;
    }
}
 
 @keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
 }