html { 
    background: url("../image/gameclear/background.png") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   animation: congratulation 1.5s ease-in forwards;
}


body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

span{
   color: #ffffff;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;

}

.title span{
   font-size: 7em;
   visibility: hidden;
   white-space: nowrap;
   overflow: hidden;
   animation: fadein 2s ease-in  forwards;
}

.subtitle{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;

}

.subtitle span{
   font-size: 3em;
   visibility: hidden;
   white-space: nowrap;
   overflow: hidden;
   animation: fadein 2s ease-in  forwards;
}

#timerecords{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px; 
  width: 100%;
}

#timerecords span{
   font-size: 3em;
   visibility: hidden;
   white-space: nowrap;
   overflow: hidden;
   animation: fadein 2s ease-in  forwards;
}

.button {
   position:absolute;
   bottom: 225px;
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
}

.button img{
   margin: 10px 50px;
   width: 15%;
   height: 10%;
   object-fit: cover;
   animation: fadein 2s ease-in  forwards; 
   transition: transform 1s ease-in-out;
}

.button img:hover{
   transform: scale(1.2);
}



